{% extends 'base.html' %}
{% block content %}
<h1>Please log in</h1>
<p>
    <form action="" method="post">
        <input type='text' placeholder='Username' name='username' value='{{request.form.username}}'/>
        <input type='password' placeholder='Password' name='password' value='{{request.form.password}}'/>
        <input class='btn btn-default' type='submit' value='Login'/>

    </form>
</p>
{% if error %}
<p class='error'><strong>Error: </strong>{{ error }}</p>
{% endif %}
<p>
<a href="/">Back to index page</a>
</p>
{% endblock %}