{% extends 'base.html'%}
{% block content %}

<form action="" method="post">
        <select type='select' placeholder='' id='source' value=''>
            <option selected></option>
            {% for src_lang in src %}
            <option>{{src_lang}}</option>
            {% endfor %}
        </select>
        

        <select type='select' placeholder='' id='target' value=''>
            <option selected ></option>
            {% for trg_lang in trg %}
            <option>{{trg_lang}}</option>
            {% endfor %}
        </select>
        <select type='select' placeholder='' name='client' value=''>
            <option selected></option>
            {% for client in clients %}
            <option value="{{loop.index}}">{{client}}</option>
            {% endfor %}
        </select>
        <select type='select' placeholder='' name='domain' value=''>
            <option selected></option>
            {% for domain in domains %}
            <option value="{{loop.index}}">{{domain}}</option>
            {% endfor %}
        </select>

        <input class='btn btn-default' id="apply_filter" type="button" value='Filter'/>
        <input class='btn btn-default' id="reset_filter" type="button" value='Reset filters'/>

</form>

<div class="panel-default">
    <div class="panel-header"><h4>{{ tm_count }} translation memories on the server</h4>
    
    

    </div>
<div class="panel-body">

{% if tms %}
<table class="table">
    <theader>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Source Lang</th>
        <th class="col-md-2">Target Lang</th>
        <th class="col-md-2">Client</th>
        <th class="col-md-2">Domain</th>        
    </theader>   
<tbody> 
    {% for tminfo in tms %} 
    <tr {% if not (tminfo.Client and tminfo.Domain) != None %} class="missing_meta" {% endif %} data-srclang={{tminfo.SourceLanguageCode}} data-trglang={{tminfo.TargetLanguageCode}} data-client={{clients.index(tminfo.Client)+1}} data-domain={{domains.index(tminfo.Domain)+1}}>
    

    
    <td >{{ tminfo.Name }} </td><td>{{ tminfo.SourceLanguageCode }}</td><td>{{ tminfo.TargetLanguageCode }}</td> 
    <td> {{ tminfo.Client }}</td><td>{{ tminfo.Domain }}</td><td><button class="btn btn-warning"><a href="/tm_download/{{tminfo.Guid}}/{{tminfo.Name}}">Download</button></td> 
    </tr> 
    {% endfor %} 
</tbody> 
</table>
{% else %}
<p>No TM uploaded yet</p>
{% endif %} 
</div>
<div class="panel-footer">
<a href="/">Back to index page</a>
</div>
</div>

{% endblock %}