<!DOCTYPE html>
<html>
<head>
    <title>Translation Units Repository</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<ul class="nav nav-tabs" role="tablist">
<li><a href="/">Home</a></li>
<li><a href="/upload">Upload TM</a></li>
<li><a href="/tm_list">List of Memoq TMs</a></li>
<li><a href="/about">About</a></li>

</ul>
<div class="container">
{% block content %}
{% endblock %}

</div>

</body>
</html>