<!DOCTYPE html>
<html>
<head>
    <title>Translation Units Repository</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/custom.css" rel="stylesheet" media="screen"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
</head>
<body>
<ul class="nav nav-tabs" role="tablist">
<li><a href="/">Home</a></li>
<li><a href="/upload">Upload TM</a></li>
<li><a href="/tm_list">List of Memoq TMs</a></li>
<li><a href="/about">About</a></li>

</ul>
<div class="container">
{% block content %}
{% endblock %}

</div>

</body>
</html>