{% extends 'base.html' %}
{% block content %}
<h1>Upload TM</h1>

<p>
    <div class="input-group">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="input-group">
        <input type='file' class="form-control" name='file' value='Select file'/>
        </div><div class="input-group">
        <input class='btn btn-default form-control' type='submit' value='Upload'/>

    </form>
    </div>
</p>
<div class="panel-default">
    <div class="panel-header">List of Translation memories</div>
<div class="panel-body">
{% if tm_list %}
<table class="table">
    {% for name in tm_list %}
    <tr>
    <td >{{ name }} </td><td><button class="btn"><a href="/read_data/{{name}}">Read data</a></button></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No TM uploaded yet</p>
{% endif %}
</div>
<div class="panel-footer">
<a href="/">Back to index page</a>
</div>
</div>

{% endblock %}