{% extends 'base.html'%}
{% block content %}

<div class="panel-default">
    <div class="panel-header">List of Translation memories: {{ tm_count }} translation memories on the server</div>
<div class="panel-body">
{% if tms %}
<table class="table">
    <theader>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Source Lang</th>
        <th class="col-md-2">Target Lang</th>
        <th class="col-md-2">Client</th>
        <th class="col-md-2">Domain</th>        
    </theader>   
<tbody> 
    {% for tminfo in tms %} 
    {% if not (tminfo.Client and tminfo.Domain) != None %} 
    <tr style="color:red"> 
        {% else %} 
    <tr> 
        {% endif %} 
    <td >{{ tminfo.Name }} </td><td>{{ tminfo.SourceLanguageCode }}</td><td>{{ tminfo.TargetLanguageCode }}</td> 
    <td> {{ tminfo.Client }}</td><td>{{ tminfo.Domain }}</td><td><button class="btn btn-warning"><a href="/tm_download/{{tminfo.Guid}}">Download</button></td> 
    </tr> 
    {% endfor %} 
</tbody> 
</table>
{% else %}
<p>No TM uploaded yet</p>
{% endif %} 
</div>
<div class="panel-footer">
<a href="/">Back to index page</a>
</div>
</div>
{% endblock %}